body {
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}

.firstsection {
    background-image: url(assets/capa.jpg);
    background-size: cover;
    text-align: right;
    padding: 50px 20px;
    width: 1310px;
    height: 280px;
    margin: 0px auto;
}

.firstsection p {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

.firstsection ion-icon {
    font-size: 25px;
    text-align: right;
}

.firstsection a {
    color: black;
}

.secondsection {
    text-align: center;
    border-left: 1px solid;
}

.secondsection p {
    padding-bottom: 3px;
}

.secondsection div {
    text-align: center;
}

.presentationpictures {
    height: 150px;
    width: 200px;
    margin: 5px;
}

span {
    font-weight: bold;
}

.background-images {
    padding: 50px 0;
    text-align: center;
    background-image: url(assets/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background-images h3 {
    font-size: 36px;
    background-color: #fff;
    width: 200px;
    margin: 0 auto;
    border-radius: 20px;
}

.thirdsection {
    text-align: justify;
    padding: 40px;
    margin-left: 250px;
}

.thirdsection ul {
    text-align: justify;
    list-style-position: inside;
    padding-left: 0px;
    margin-left: 0px;
}

.background-images h5 {
    font-size: 36px;
    background-color: #fff;
    width: 200px;
    margin: 0 auto;
    border-radius: 20px;
}

.background-images ul {
    text-align: justify;
    list-style-position: inside;
    padding-left: 0px;
    margin-left: 0px;
}

.fourthsection {
    text-align: justify;
    padding: 40px;
    margin-left: 250px;
}

.fourthsection ul {
    text-align: justify;
    list-style-position: inside;
    padding-left: 0px;
    margin-left: 0px;
}

iframe {
    padding: 25px;
}

.fourthsection a {
    font-size: 16px;
    font-family: 'Verdana';
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 15px;
    color: #ffffff;
    background-color: #25D366;
    border-radius: 25px;
    text-align: center;
    border-width: 0;
    margin-left: 800px;
}

.fourthsection ion-icon {
    font-size: 20px;
    color: #25D366;
}
